.carousel {
    width: 100%;
    height: 415px;
    display: flex;
    align-items: center;
    position: relative;
}

.slide {
    width: 100%;
    height: 415px;
    object-fit: cover;
    object-position: center;
    border-radius: 25px;
}

.slide[animation="0"] {
    animation: changeSlide1 1200ms;
}

.slide[animation="1"] {
    animation: changeSlide2 1200ms;
}

.arrow {
    color: white;
    position: absolute;
    z-index: 50;
    cursor: pointer;
    padding: 50px;
    font-size: 6em;
}

.arrowLeft {
    left: 0;
}

.arrowRight {
    right: 0;
}

@media (max-width: 650px) {
    .carousel {
        height: 255px;
    }
    
    .slide {
        height: 255px;
        border-radius: 10px;
    }
    
    .arrow {
        padding: 30px;
        font-size: 3em;
    }
}

@keyframes changeSlide1 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes changeSlide2 {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}