.div {
    color: white;
    font-size: 2em;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 43%;
    font-weight: 500;
}

@media (max-width: 576px) {
    .div {
        font-size: 1.7em;
        bottom: 23%;
        text-align: left;
        margin-left: 20px;
        width: 251px;
        padding-right: 20px;
    }
}