.article {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
    border-radius: 10px;
    width: 340px;
    height: 340px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 10px 25px 10px;
    position: relative;
    overflow: hidden;
}

.h3 {
    font-weight: 500;
    z-index: 10;
    position: absolute;
    bottom: 10px;
    left: 20px;
    right: 20px;
    margin: 0;
}

.img {
    height: 100%;
    object-fit: cover;
    object-position: center;
}

@media (max-width: 650px) {
    .article {
        width: 335px;
        height: 255px;
    }
}