.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
    padding: 40px 60px 40px 60px;
}

.ul {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
}

.li {
    font-size: 1.1em;
    margin-left: 30px;
}

.a:hover {
    text-decoration: underline;
}

.img {
    width: 50%;
    max-width: 211px;
}

@media (max-width: 650px) {
    .header {
       padding: 15px;
    }

    .img {
        max-width: 145px;
    }

    .li {
        margin-left: 15px;
        font-size: 0.9em;
        text-transform: uppercase;
    }
}