* {
    font-family: 'Montserrat';
}

a {
    text-decoration: none;
    color: inherit;
    width: 100%;
    height: 100%;
}

body {
    color: #FF6060;
    margin: auto;
    font-weight: 400;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

li {
    list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}