.main {
    font-weight: 500;
}

.introduction {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}

.details {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.mainIntroduction {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 12px;
}

.h2 {
    margin: 0;
    font-weight: 500;
    font-size: 1.8em;
}

.tags {
    background-color: #FF6060;
    color: white;
    border-radius: 10px;
    white-space: nowrap;
    padding: 5px 20px 5px 20px;
    margin-right: 10px;
    font-size: 0.8em;
}

.host {
    display: flex;
    align-items: center;
}

.pictureHost {
    width: 64px;
    height: 64px;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
    margin-left: 10px;
}

.starNocolor {
    color: #E3E3E3;
}

.star {
    margin-left: 5px;
}

.hostInformations {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.rating {
    text-align: right;
}

@media (max-width: 650px) {
    .introduction {
        flex-direction: column;
        margin-top: 15px;
        margin-bottom: 20px;
    }

    .hostInformations {
        flex-direction: row-reverse;
        align-items: center;
        margin-top: 17px;
    }

    .pictureHost {
        height: 32px;
        width: 32px;
    }

    .details {
        flex-direction: column;
        gap: 0;
    }
}